In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from time import sleep
import lxml

In [2]:
url = 'https://www.amazon.com/gp/bestsellers/2015/books/ref=zg_bsar_cal_ye'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
               "AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36",
               "Accept-Encoding":"gzip, deflate",
               "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", 
               "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

response = requests.get(url,headers = headers)
sleep(10)
content = response.content
sleep(10)
soup =BeautifulSoup(content, "lxml")

In [3]:
url2 = 'https://www.amazon.com/gp/bestsellers/2016/books/ref=zg_bsar_cal_ye'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
               "AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36",
               "Accept-Encoding":"gzip, deflate",
               "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", 
               "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

response2 = requests.get(url2,headers = headers)
sleep(10)
content2 = response2.content
sleep(10)
soup2 =BeautifulSoup(content2, "lxml")

In [4]:
books = soup.select("#gridItemRoot")

In [5]:
data= []
for item in books:
    
    title = item.find('div', class_ ="_cDEzb_p13n-sc-css-line-clamp-1_1Fn1y").text
    
    try:
        author = item.find('a', class_ ="a-size-small a-link-child").text
    except Exception as e:
        author = np.nan
        
    book_format = item.find('span', class_ ="a-size-small a-color-secondary a-text-normal").text
    
    review = item.select(".a-size-small")[2].text
    
    rating = item.find('span', class_="a-icon-alt").text.split(' ')[0]
    
    try:
        price = item.find('span', class_ ="_cDEzb_p13n-sc-price_3mJ9Z").text[1:]
    except Exception as e:
        price = np.nan
    
    try:
        year = item.find('h1',class_="a-size-large a-spacing-medium a-text-bold").text[-1]
    except Exception as e:
        year = '2015'
        
    data.append([title, author, book_format, review, rating, price, year])

In [6]:
books2 = soup2.select("#gridItemRoot")

In [8]:
data2= []
for item in books2:
    
    try:
        title = item.find('div', class_ ="_cDEzb_p13n-sc-css-line-clamp-1_1Fn1y").text
    except Exception as e:
        title = np.nan
    try:
        author = item.find('a', class_ ="a-size-small a-link-child").text
    except Exception as e:
        author = np.nan
        
    book_format = item.find('span', class_ ="a-size-small a-color-secondary a-text-normal").text
    
    review = item.select(".a-size-small")[2].text
    
    rating = item.find('span', class_="a-icon-alt").text.split(' ')[0]
    
    try:
        price = item.find('span', class_ ="_cDEzb_p13n-sc-price_3mJ9Z").text[1:]
    except Exception as e:
        price = np.nan
        
    try:
        year = item.find('h1',class_="a-size-large a-spacing-medium a-text-bold").text[-1]
    except Exception as e:
        year = '2016'
        
    data2.append([title, author, book_format, review, rating, price, year])

In [9]:
#put data into a dataframe
book1 = pd.DataFrame(data, columns = ['title','author','book_format','review','rating','price','year'])

In [10]:
#put data into a dataframe
book2 = pd.DataFrame(data2, columns = ['title','author','book_format','review','rating','price','year'])

In [11]:
#merge both dataframes
book = pd.concat([book1, book2], ignore_index=True)

In [14]:
book.head(10)

,title,author,book_format,review,rating,price,year
0,First 100 Words: A Padded Board Book,Roger Priddy,Board book,"37,033",4.7,4.78,2015
1,The Life-Changing Magic of Tidying Up: The Jap...,NaN,Hardcover,"58,650",4.5,8.89,2015
2,Laugh-Out-Loud Jokes for Kids,Rob Elliott,Paperback,"11,767",4.6,4.99,2015
3,Secret Garden: An Inky Treasure Hunt and Color...,Johanna Basford,Paperback,"15,464",4.7,12.15,2015
4,StrengthsFinder 2.0,NaN,Hardcover,"8,178",4.1,20.96,2015
5,Go Set a Watchman: A Novel,Harper Lee,Hardcover,"52,440",3.8,14.98,2015
6,Enchanted Forest: An Inky Quest and Coloring b...,Johanna Basford,Paperback,"8,299",4.7,11.97,2015
7,All the Light We Cannot See,Anthony Doerr,Hardcover,"215,225",4.5,15.15,2015
8,The Girl on the Train,Paula Hawkins,Hardcover,"492,067",4.1,11.00,2015
9,Adult Coloring Book: Stress Relieving Patterns,Blue Star Coloring,Paperback,"4,338",4.5,6.91,2015

In [15]:
#save as csv file
book.to_csv('books.csv')